<div class="caixa">
  <span class="fita">
    <a href="{{site.baseurl}}/categoria/#{{post.category}}"><span>{{ post.category | truncate: 10 }}</span></a>
  </span>
  <div class="conteudo">
    {% if post.link %} 
      <a class="post-link" href="{{ post.link }}">{{ post.title }}</a>
    {% else %}
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    {% endif %}
    Autor(a): {{ post.autor }} <br />
    Valor: {{ post.valor }} <br />
    Descrição:
    {{ post.content | newline_to_br | truncatewords: 20 }}
    {% assign palavras = post.content | number_of_words %}
    {% if palavras > 20 %}
      <span class="linkdesccompleta"><a href="{{ post.url | prepend: site.baseurl }}">descrição completa</a></span>
    {% endif %}
  </div>
  <div class="tags">
  {% for tag in post.tags %}
    <a href="{{site.baseurl}}/tags/#{{tag | slugify }}">{{ tag }}</a>
  {% endfor %}
  </div>
</div>
